* {
    /*adds measurements to the inside of elements*/
    box-sizing: border-box;
    -mox-box-sizing: border-box;
    font-family: sans-serif;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

}

#toolbar, #colors {
    background-color: #2f2f2f;
    z-index: 2;
}

#toolbar {
    width: 100%;
    height: 45px;
    padding: 10px;
    position: fixed;
    top: 0;
    cursor:pointer;
    font-size: 12px;
    display:inline-block;
}

#toolbar * {
    display: inline-block; 
    color:white;
}

#imgscale, #radval, .radcontrol, .tool-style, .tool, #font-size {
    background-color: #4f4f4f;
    height:25px;
    line-height: 25px;
}

#radval, #imgscale {
    width:30px;
    text-align: center;
}
#radval, #imgscale, #font-size {
    border:none;
}
.radcontrol {
    padding: 0px 10px 0px 10px;
}

.tool, .tool-style {
    padding: 0px 10px 0px 10px;
    margin-left:7px;
}

.tool.active, .tool-style.active {
    border: 1px solid white; 
}

.vertical-divider {
    border-left:1px solid #9f9f9f; 
    height:35px;
    display: inline-block;
    position:fixed;
    top:5px;
    margin-left:4px;
}

#pages {
    float:right;
}

#colors {
    float:left;
    position:fixed;
    top:45px;
    padding:7px 7px 0px 7px;
}

.swatch {
    width:30px;
    height:30px;
    border-radius:15px;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.5), 
    0px 2px 2px rgba(0,0,0,0.5);
    /*display:inline-block;*/
    margin-bottom: 7px;
}

.swatch.active {
    border: 3px solid white;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.5);
}

#background {
    background-color: black;
    width:2000px;
    height:2000px;
    position: absolute;
    z-index: -1;
}

#canvas1 {
    background-color: transparent;
    overflow:auto;
    position: absolute;
    z-index: 1;
}